:root {
  --space-cadet: #242239;
  --beau-blue: #BFCEDD;
  --max-red: #D21919;
  --rufous-red: #AE040C;
}

.App {
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--beau-blue);
  font-family: "Nunito Sans", sans-serif;
}

.link {
  margin-right: 20px;
  color: var(--space-cadet);
  text-decoration: none;
  font-style: italic;
  font-size: 1.1rem;
}

.link:hover {
  margin-right: 20px;
  color: var(--space-cadet);
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}


#logo {
  height: 90px;
  width: 90px;
  margin-left: 20px;
}

.container {
  display: grid;
  grid-template-columns: 15% 85%;
  height: calc(100vh - 96px);
}

#menu {
  background-color: var(--max-red);
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 1.5em;
  
}

.menuOption {
  margin: 15px;
  text-decoration: none;
  color: var(--space-cadet);
}
.menuOption:hover {
  margin: 15px 20px;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--beau-blue)
}

#page {
  background-color: var(--space-cadet);
  height: calc(100vh - 96px);
  overflow:auto;
}

.song-li{
  margin-right: 20px;
  color: var(--beau-blue);
  text-decoration: none;
  font-style: italic;
  font-size: 1.2rem;
}
.song-li:hover{
  margin-right: 20px;
  color: var(--beau-blue);
  text-decoration: underline;
  font-style: italic;
  font-size: 1.25rem;
  cursor: pointer;
}
