:root {
  --space-cadet: #242239;
  --beau-blue: #BFCEDD;
  --max-red: #D21919;
  --rufous-red: #AE040C;
}

body {
  background-color: var(--space-cadet);
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--beau-blue);
  font-family: "Nunito Sans", sans-serif;
}

#logo {
  height: 90px;
  width: 90px;
  margin-right: 20px;
}

.container {
  height: calc(100vh - 96px);
  font-family: "Nunito", sans-serif;
}

.menuOption {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;
  width: 90px;
  text-decoration: none;
  color: black;
}

#page {
  background-color: var(--space-cadet);
  color: var(--beau-blue);
  font-size: 1.2rem;
  overflow: auto;
}