#songTitle {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    border-top: 1px solid var(--rufous-red);
    border-bottom: 1px solid var(--rufous-red);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

#songPageWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 3em;
}

/* #info-section {
} */

#info {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--rufous-red);
    border-bottom: 1px solid var(--rufous-red);
    width: 300px;

}

#info-images-container {
    width: auto;
    max-width: 400px;
    justify-content: space-between;
    /* margin-right: 10em; */
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
}

.song-info-image-container {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.song-info-image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.song-info-title {
    margin-bottom: 25px;
    font-size: 15px;
    width: 120px;
    text-align: center;
    background-color: black;
    border-radius: 7%;
}

.songPageLink {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--max-red);
}

#media {
    margin-top: 2em;
}

#side-songs-section > ::-webkit-scrollbar {
    width: 20px;
    background-color: black;
    border-radius: 10px;
}

#side-songs-section > ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px var(--max-red);
    border-radius: 10px;
}

#side-songs-section > ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px var(--beau-blue);
    border-radius: 10px;
}

#more-songs {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--rufous-red);
    border-bottom: 1px solid var(--rufous-red);
    width: 300px;
    /* margin-right: 2em; */
}

#side-songs-container {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    max-height: 400px;
    overflow: auto;
    margin: 25px 0;
}

.side-song-title-container {
    width: 350px;
    background-color: black;
    border: 1px solid var(--max-red);
    border-radius: 2%;
    box-shadow: 2px 5px 5px 2px black;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    transition: 280ms;
}

.side-song-title-container:hover {
    width: 350px;
    color: var(--beau-blue);
    background-color: black;
    border: 2px solid var(--beau-blue);
    border-radius: 2%;
    box-shadow: 2px 5px 5px 2px black;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.side-song-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.8em;
}

.side-song-link {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--max-red);
}