.song-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 25px 0;
}

.songLink {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--max-red);
}

.song-title-container {
    width: 350px;
    background-color: black;
    border: 1px solid var(--max-red);
    border-radius: 2%;
    box-shadow: 2px 5px 5px 2px black;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    transition: 280ms;
}

.song-title-container:hover {
    width: 350px;
    background-color: black;
    color: var(--beau-blue);
    border: 2px solid var(--beau-blue);
    border-radius: 2%;
    box-shadow: 2px 5px 5px 2px black;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.song-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.8em;
}